/* src/styles/App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* src/components/Header.css */
.header {
  background-color: white; /* Ubah background menjadi putih */
  color: #000; /* Ubah font menjadi hitam */
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opsional: Tambahkan bayangan untuk header */
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  color: #000; /* Pastikan font untuk h1 juga menjadi hitam */
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav ul li {
  margin-left: 20px;
}

.header nav ul li a {
  color: #000; /* Ubah link menjadi hitam */
  text-decoration: none;
}

.header nav ul li a:hover {
  text-decoration: underline; /* Opsional: Tambahkan efek hover untuk link */
}

.hero {
  background: url('../assets/images/hero.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.hero h2 {
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 30px;
}

.hero button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.products {
  padding: 50px 0;
}

.products h2 {
  text-align: center;
  margin-bottom: 40px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  flex: 1 1 30%;
  margin-bottom: 40px;
}

.product img {
  width: 100%;
  height: auto;
}

.product h3 {
  text-align: center;
}

.product p {
  text-align: center;
  margin-top: 10px;
}

.footer {
  background-color: white;
  color: #333;
  text-align: center;
  padding: 20px 0;
}
