/* src/components/Products.css */
.product-list .product {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product h3 {
    text-align: center;
  }
  
  .product p {
    text-align: center;
    margin-top: 10px;
  }
  